.regular-input {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 8px;

  &__input {
    width: 327px;
    height: 48px;

    color: var(--color-grey);
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;

    padding: 0 20px;
    background-color: var(--color-dark-grey);

    border: none;
    outline: none;
    border-radius: 20px;

    transition: all 0.2s;

    &:focus {
      border: 1px solid var(--github-selected-border);
      box-shadow: 0 0 5px var(--github-selected-border);
    }
  }

  &__input::placeholder {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
  }
}
