.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__header {
    width: 100%;
    margin-bottom: 38px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.32px;
    font-weight: 400;
  }
  &__form-itself {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }

  &__span {
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.32px;
  }
}
.error-message {
  color: red;
}
