.CategoriesPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    background-color: #1C1C1E;
    height: 100%;
    border-radius: 26px 26px 0 0;
    padding: 0;

    .CategoriesBody {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .MainCategories {
            display: flex;
            justify-content: center;
            gap: 10px;
            background-color: #131313;
            padding: 10px;
            border-radius: 10px;

            .Categories {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                div {
                    padding: 10px;
                    height: 65px;
                    width: 165px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    border-radius: 20px;
                    background-color: #1C1C1E;

                    
                    .name {
                        color: #2D9CDB;
                    }
                }
            }

            .CategoriesChart {
                width: 137px;
                height: 137px;
            }
        }

        .UserCategories {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            padding: 10px;
            max-height: calc(100vh - 520px);
            min-height: calc(100vh - 520px);
            overflow-y: auto;

            background-color: #131313;
            border-radius: 10px;

      
            .UserCategoryItem {
              flex: 0 1 calc(25% - 10px);
              border-radius: 10px;
              text-align: center;
              height: 100px;
              min-width: 64px;
              font-size: 12px;
              cursor: pointer;
              justify-content: center;
              align-items: center;
            }
          }
    }
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    img {
      height: 48px;
      width: 48px;
      border-radius: 999px;
      padding: 5px;
      border: 4px solid #333333;
    }
  }
  

.param {
    display: grid;
    width: 100%;
    gap: 12px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.buttonParam {
    display: flex !important;
    justify-content: space-evenly !important;
    border-radius: 15px !important;
    height: 80px;
    width: 100%;
}

.paramRashod,
.paramDohod {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #D34D85;
    border-radius: 15px;
}

.paramDohod {
    background-color: #2D9CDB;
}