.Footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  max-height: 100px;
  height: 100px;

  a {
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, filter 0.3s;

    &:hover,
    &.active {
      color: #2d9cdb;

      span,
      img {
        color: #2d9cdb;
        filter: invert(47%) sepia(58%) saturate(657%) hue-rotate(174deg) brightness(92%) contrast(95%);
      }
    }

    span {
      transition: color 0.3s;
    }

    img {
      transition: filter 0.3s;
    }
  }
}
