.register-page-wrapper {
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Градиентный фон */
  background: linear-gradient(
    19deg,
    rgba(17, 28, 60, 1) 0%,
    rgba(9, 14, 31, 1) 41%,
    rgba(14, 7, 24, 1) 62%,
    hsl(273, 54%, 11%) 120%
  );
  background-size: 200% 200%;

  /* Плавная анимация перемещения фона */
  animation: rotate-gradient 60s linear infinite;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.register-page-inner-wrapper {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows:
    var(--register-header-height)
    calc(
      100dvh - var(--register-header-height) - var(
          --register-footer-height
        )
    )
    var(--register-footer-height);

  &_maxwidth-1250 {
    max-width: 1250px;
  }
}

.register-page-content {
  // background-color: var(--github-background-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
